{% extends 'home.html' %}

{% block content %}
<h1 style="text-align: center; margin: 1rem; text-shadow: 2px 2px rgb(238, 79, 79);">Registration page</h1>
{% load crispy_forms_tags %}
<div class="container d-flex justify-content-center mt-3">
    

    <form class='mt-5 col-10 col-md-5' action="{% url 'register' %}" method="POST">

        {% csrf_token %}

        {{ form | crispy }}

        <input class='btn btn-danger col-12'type="submit" , value="Register">

    </form>
    <div>
{% endblock content %}