<div class="container d-flex flex-row justify-content-center">

    <form class='col-12 col-md-7' action='{% url "add" post.id %}' method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name='comment'
                style="height: 200px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <input class='btn btn-primary btn-sm mb-5 col-12'type="submit" value="ADD">
       
    </form>
</div>
