{% extends 'home.html' %}

{% load static %}
{% block content %}



{% if request.user.is_authenticated %}

<div class="card bg-dark ">
  <img src="https://picsum.photos/id/798/400/600" class="card-img" alt="picture">
  <div class="card-img-overlay">

    <h5 class='m-3 nuntio' style='text-align: center; text-shadow: 1px 1px 2px #918d8d ;'>Welcome {{request.user}} !</h5>
    <div class="col-12 d-flex flex-row flex-wrap justify-content-center bd-highlight mb-3">


      {% for post in posts  %}

      <div class="card m-3 p-2 col-9 col-sm-5 col-md-4 col-lg-3 col-xxl-2 shadow-lg nuntio"
        style="height:400px; font-size: 10px;">
        
        <a href="{% url 'detail' post.id %}">
        <img src='/media/{{post.image}}' class="card-img-top m-0 post_img shadow-lg" alt="{{post.title}}"> </a>

        <div class="card-body overflow-hidden">
          <p class="card-title fs-6 lora">{{post.title}}</p>
          <p class="card-text" style='height: 60px;'>{{post.content}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-1">{{post.category}}</li>
          <li class="list-group-item p-1">PUBLISH DATE:{{publish.date}}</li>
          <li class="list-group-item p-1">Last Update: {{post.last_update}}</li>
        </ul>
        <div class="card-body p-0 lora">

          {% for comment in comments %}
          {% if comment.post == post.id %}
          <i class="bi bi-chat-dots-fill text-primary float-end me-2">  {{comment.count}}</i>
          {% endif %}
          {% endfor %}
          

          {% for like in likes %}
          {% if like.post == post.id %}
          <i class="bi bi-heart-fill text-danger float-end me-2">  {{like.count}}</i>
          {% endif %}
          {% endfor %}

        </div>
      </div>


      {% endfor %}

    </div>
  </div>
</div>
{% else %}
<!-- <div class="container d-flex flex-column justify-content-center mt-3 col-12">
  
  <div>
    <img class='col-12 opacity-25 card-img' src="https://picsum.photos/200/300?grayscale" alt="picture">
    <h3 class='mt-2 border w-25'>Wellcome Guest!</h3>
  </div>
</div> -->
<div class="card bg-dark text-white">
  <img src="https://picsum.photos/200/300?grayscale" class="card-img" alt="picture">
  <div class="card-img-overlay">
    <h3 class="card-title" style='text-shadow: 2px 2px 4px #000000 ;'>Welcome Guest</h3>
    <p class="card-text" style='text-shadow: 2px 2px 4px #000000 ;'>this project is an educational project of clarusway
    </p>

  </div>
</div>
{% endif %}



{% endblock content %}