{% extends 'home.html' %}


{% block content %}
{% if request.user.is_authenticated %}
<div class="container d-flex justify-content-center mt-3">

    <div class="container card m-3 p-2 col-12 col-md-8 col-lg-7 col-xl-5 shadow-lg rounded-3">
        
        {% if post.image == 'post/default.png' %}
        <img src='https://picsum.photos/200/400' style="height: 30rem; border-radius: 20px;" class="card-img-top"
        alt="lorem Picsum"> <p>Lorem Picsum</p>
        {% else %}
        <img src='/media/{{post.image}}' style="height: 30rem; border-radius: 20px;" class="card-img-top"
        alt="{{post.title}}">
        {% endif %}
       
        <div class="card-body overflow-hidden">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text lora">
               {{post.content}}
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.category}}</li>
            <li class="list-group-item lora">Published : {{post.publish_date | timesince }} ago</li>
            <li class="list-group-item lora">Last Update: {{post.last_update}}</li>
        </ul>
        <div class="card-body nuntio">

            <a href="{% url 'addlike' post.id %}" class="btn btn-light float-start">
                {% if is_like == True %}
                <i class="bi bi-heart-fill text-danger"></i>
                <span class='lora fs-5  text-danger ' data-toggle="tooltip"
                    data-placement="right" title="take it back"
                    style="position: absolute; left: 45%; top: 92%; transform: rotate(-20deg);">you
                    liked !</span>

                {% else %}
                <i class="bi bi-heart text-danger" data-toggle="tooltip" data-placement="right" title="like !"></i>
                {% endif %}
                <span class='fw-normal'>{{like}}</span>
            </a>
            

            {% if post.user == request.user %}
            <a href="{% url 'update' post.id %}" class="btn btn-info float-end me-2 rounded-circle"><i class="bi bi-pencil-square"></i></a>

            <a href="{% url 'delete' post.id %}" class="btn btn-danger float-end me-2 rounded-circle"><i class="bi bi-trash-fill"></i></a>

            
            {% endif %}
            <p class="bi bi-eye-fill text-dark fs-6 float-start me-3 mt-2"> {{post_click}}</p>
            <p class="bi bi-chat-dots-fill text-dark fs-6 float-start me-3 mt-2"> {{comments.count}}</p>

        </div>
        <p class="col-12 mb-0 lora float-end" style='font-size: 10px;'>Written by: {{post.user}}  / Status: {{post.status}} </p>
        
    </div>

</div>

{% include 'blog/add_comment.html' %}
{% include 'blog/comments.html' %}

{% endif %}
{% endblock content %}