@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.lora {
    font-family: 'Lora';
    font-size: 0.8rem;
}

.lora_sm {
    font-family: 'Lora';
    font-size: 8px;
}

.nuntio {
    font-family: 'Nunito', sans-serif;
}

.post_img {
    transition: all .4s ease-in-out;
}

.post_img:hover {
    border-radius: 10px;
    transform: scale(1.02);
}